/* Home.css */

.home-page {
    width: 100%;
}

/* Optional hero style */
.home-hero {
    height: 75vh;
    background: linear-gradient(rgba(0, 0, 0, 0.35),
            rgba(0, 0, 0, 0.4)),
        url("https://images.unsplash.com/photo-1501117716987-c8e1ecb2101a") center/cover no-repeat;
}